USE [QL25]
GO
/****** Object:  Table [dbo].[BacDaoTao]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacDaoTao](
	[ID] [int] NOT NULL,
	[TenBac] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BacDaoTao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC](
	[ID] [int] NOT NULL,
	[DV_ID] [int] NOT NULL,
	[CD_ID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_BC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapChuyenMon]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapChuyenMon](
	[ID] [int] NOT NULL,
	[TenCap] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CapChuyenMon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CD]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CD](
	[ID] [int] NOT NULL,
	[TenCD] [nvarchar](50) NOT NULL,
	[KyHieu] [nvarchar](50) NOT NULL,
	[CD_TD_ID] [int] NOT NULL,
	[ChuyenNganhID] [int] NOT NULL,
	[Management] [bit] NOT NULL,
 CONSTRAINT [PK_CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CD_TuongDuong]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CD_TuongDuong](
	[ID] [int] NOT NULL,
	[TenChucDanhTD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CD_TuongDuong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[ID] [int] NOT NULL,
	[NganhID] [int] NOT NULL,
	[TenChuyenNganh] [nvarchar](50) NOT NULL,
	[NhomNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[ID] [int] NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[KyHieu] [nvarchar](50) NULL,
	[DV_TD_ID] [int] NOT NULL,
	[IsOpen] [bit] NULL,
	[ParentID] [int] NOT NULL,
 CONSTRAINT [PK_DV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV_TuongDuong]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_TuongDuong](
	[ID] [int] NOT NULL,
	[TenKieuDV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DV_TuongDuong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HC]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HC](
	[ID] [int] NOT NULL,
	[BC_ID] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[BacDaoTao_ID] [int] NOT NULL,
	[CapChuyenMon_ID] [int] NOT NULL,
	[QH_ID] [int] NOT NULL,
 CONSTRAINT [PK_HC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[ID] [int] NOT NULL,
	[TenNganh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QH]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QH](
	[ID] [int] NOT NULL,
	[CapHam] [nvarchar](50) NOT NULL,
	[KieuCapHam] [nchar](10) NOT NULL,
 CONSTRAINT [PK_QH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](50) NOT NULL,
	[hC_ID] [nvarchar](50) NULL,
	[dV_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BC]  WITH CHECK ADD  CONSTRAINT [FK_BC_CD] FOREIGN KEY([CD_ID])
REFERENCES [dbo].[CD] ([ID])
GO
ALTER TABLE [dbo].[BC] CHECK CONSTRAINT [FK_BC_CD]
GO
ALTER TABLE [dbo].[BC]  WITH CHECK ADD  CONSTRAINT [FK_BC_DV] FOREIGN KEY([DV_ID])
REFERENCES [dbo].[DV] ([ID])
GO
ALTER TABLE [dbo].[BC] CHECK CONSTRAINT [FK_BC_DV]
GO
ALTER TABLE [dbo].[CD]  WITH CHECK ADD  CONSTRAINT [FK_CD_CD_TuongDuong] FOREIGN KEY([CD_TD_ID])
REFERENCES [dbo].[CD_TuongDuong] ([ID])
GO
ALTER TABLE [dbo].[CD] CHECK CONSTRAINT [FK_CD_CD_TuongDuong]
GO
ALTER TABLE [dbo].[CD]  WITH CHECK ADD  CONSTRAINT [FK_CD_ChuyenNganh] FOREIGN KEY([ChuyenNganhID])
REFERENCES [dbo].[ChuyenNganh] ([ID])
GO
ALTER TABLE [dbo].[CD] CHECK CONSTRAINT [FK_CD_ChuyenNganh]
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenNganh_Nganh] FOREIGN KEY([NganhID])
REFERENCES [dbo].[Nganh] ([ID])
GO
ALTER TABLE [dbo].[ChuyenNganh] CHECK CONSTRAINT [FK_ChuyenNganh_Nganh]
GO
ALTER TABLE [dbo].[DV]  WITH CHECK ADD  CONSTRAINT [FK_DV_DV] FOREIGN KEY([ParentID])
REFERENCES [dbo].[DV] ([ID])
GO
ALTER TABLE [dbo].[DV] CHECK CONSTRAINT [FK_DV_DV]
GO
ALTER TABLE [dbo].[DV]  WITH CHECK ADD  CONSTRAINT [FK_DV_DV_TuongDuong] FOREIGN KEY([DV_TD_ID])
REFERENCES [dbo].[DV_TuongDuong] ([ID])
GO
ALTER TABLE [dbo].[DV] CHECK CONSTRAINT [FK_DV_DV_TuongDuong]
GO
ALTER TABLE [dbo].[HC]  WITH CHECK ADD  CONSTRAINT [FK_HC_BacDaoTao] FOREIGN KEY([BacDaoTao_ID])
REFERENCES [dbo].[BacDaoTao] ([ID])
GO
ALTER TABLE [dbo].[HC] CHECK CONSTRAINT [FK_HC_BacDaoTao]
GO
ALTER TABLE [dbo].[HC]  WITH CHECK ADD  CONSTRAINT [FK_HC_BC] FOREIGN KEY([BC_ID])
REFERENCES [dbo].[BC] ([ID])
GO
ALTER TABLE [dbo].[HC] CHECK CONSTRAINT [FK_HC_BC]
GO
ALTER TABLE [dbo].[HC]  WITH CHECK ADD  CONSTRAINT [FK_HC_CapChuyenMon] FOREIGN KEY([CapChuyenMon_ID])
REFERENCES [dbo].[CapChuyenMon] ([ID])
GO
ALTER TABLE [dbo].[HC] CHECK CONSTRAINT [FK_HC_CapChuyenMon]
GO
ALTER TABLE [dbo].[HC]  WITH CHECK ADD  CONSTRAINT [FK_HC_QH] FOREIGN KEY([QH_ID])
REFERENCES [dbo].[QH] ([ID])
GO
ALTER TABLE [dbo].[HC] CHECK CONSTRAINT [FK_HC_QH]
GO
/****** Object:  StoredProcedure [dbo].[KhoiTaoDuLieuCoSo]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[KhoiTaoDuLieuCoSo] 
	
AS
BEGIN
	INSERT INTO [dbo].[CD_TuongDuong]
           ([ID]
           ,[TenChucDanhTD])
     VALUES
           (0,N'Sư đoàn trưởng'),
		   (1,N'Phó Sư đoàn trưởng'),
		   (2,N'Trung đoàn trưởng'),
		   (3,N'Phó Trung đoàn trưởng'),
		   (4,N'Tiểu đoàn trưởng'),
		   (5,N'Phó Tiểu đoàn trưởng'),
		   (6,N'Đại đội trưởng'),
		   (7,N'Phó Đại đội trưởng'),
		   (8,N'Trung đội trưởng'),
		   (9,N'Phó Trung đội trưởng'),
		   (10,N'Tiểu đội trưởng')
		INSERT INTO [dbo].[DV_TuongDuong]
           ([ID]
           ,[TenKieuDV])
		VALUES
           (0 ,N'Sư đoàn'),
		   (1 ,N'Trung đoàn'),
		   (2 ,N'Tiểu đoàn'),
		   (3 ,N'Đại đội'),
		   (4 ,N'Trung đội'),
		   (5 ,N'Tiểu đội'),
		   (6 ,N'Tổ')
		   INSERT INTO [dbo].[Nganh] ([ID] ,[TenNganh])
			VALUES
           (0 ,N'Tham mưu'),
		   (1 ,N'Chính trị'),
		   (2 ,N'Hậu cần-Kỹ thuật')
		   INSERT INTO [dbo].[ChuyenNganh]([ID],[NganhID],[TenChuyenNganh],[NhomNganh])
     VALUES
           (0 ,2, N'Quân nhu','HC'),
		   (1 ,2, N'Quân y','HC'),
		   (2 ,2, N'Doanh trại','HC'),
		   (3 ,2, N'Xăng dầu','HC'),
		   (4 ,2, N'Tên lửa','KT'),
		   (5 ,2, N'Ra đa','KT'),
		   (6 ,2, N'PPK-TLTT','KT'),
		   (7 ,2, N'Xe-máy','KT'),
		   (8 ,2, N'TC-ĐL-CL','KT'),
		   (9 ,2, N'Vật tư','KT'),
		   (10 ,2, N'Lái xe','KT'),
		   (11 ,2, N'Chỉ huy TMHCKT','HC-KT')
		   INSERT INTO [dbo].[QH]([ID] ,[CapHam], [KieuCapHam])
		   VALUES (0, N'Đại tá', 'SQ'),
				(1, N'Thượng tá', 'SQ'),
			 (2, N'Trung tá', 'SQ'),
			 (3, N'Thiếu tá', 'SQ'),
			 (4, N'Đại uý', 'SQ'),
			 (5, N'Thượng uý', 'SQ'),
			 (6, N'Trung uý', 'SQ'),
			 (7, N'Thiếu uý', 'SQ'),
			 (8, N'Thượng tá CN', 'QNCN'),
			 (9, N'Trung tá CN', 'QNCN'),
			 (10, N'Thiếu tá CN', 'QNCN'),
			 (11, N'Đại uý CN', 'QNCN'),
			 (12, N'Thượng uý CN', 'QNCN'),
			 (13, N'Trung uý CN', 'QNCN'),
			 (14, N'Thiếu uý CN', 'QNCN'),
			 (15, N'HSQ-CS', 'CS')
			 INSERT INTO [dbo].[BacDaoTao]           ([ID]           ,[TenBac])
     VALUES           
	 (0,N'Sau đại học'),
	 (1,N'Đại học'),
	 (2,N'Cao đẳng'),
	 (3,N'Trung cấp'),
	 (4,N'Sơ cấp')
	 INSERT INTO [dbo].[CapChuyenMon]           ([ID]           ,[TenCap])
     VALUES
           (0,N'Tiến sỹ'),
		   (1,N'Thạc sỹ'),
		   (2,N'Kỹ sư'),
		   (3,N'Cử nhân'),
		   (4,N'Nhân viên')

INSERT INTO [dbo].[DV]
           ([ID]
           ,[TenDV]
           ,[KyHieu]
           ,[DV_TD_ID]
           ,[IsOpen]
           ,[ParentID])
     VALUES
           (0
           ,'root'
           ,'root'
           ,0
           ,0
           ,0)
END
GO
/****** Object:  StoredProcedure [dbo].[ResetDatabase]    Script Date: 9/24/2025 10:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ResetDatabase]
	
AS
BEGIN
	DELETE FROM [dbo].[HC] 
	
	DELETE FROM [dbo].[BC] 
	

	DELETE FROM [dbo].[DV] 
	

	DELETE FROM [dbo].[TaiKhoan]
	DELETE FROM [dbo].[CD]
	DELETE FROM [dbo].[ChuyenNganh]
	DELETE FROM [dbo].[Nganh]
	DELETE FROM [dbo].[CD_TuongDuong]
	DELETE FROM [dbo].[DV_TuongDuong]
	DELETE FROM [dbo].[CapChuyenMon]
	DELETE FROM [dbo].[BacDaoTao]
	DELETE FROM [dbo].[QH]
END
GO
