.bg-blue-100 {
    --bs-bg-opacity: 1;
    background-color: #cfe2ff !important;
}

.bg-blue-200 {
    --bs-bg-opacity: 1;
    background-color: #9ec5fe !important;
}

.bg-blue-300 {
    --bs-bg-opacity: 1;
    background-color: #6ea8fe !important;
}

.bg-blue-400 {
    --bs-bg-opacity: 1;
    background-color: #3d8bfd !important;
}

.bg-blue-500 {
    --bs-bg-opacity: 1;
    background-color: #0d6efd !important;
}

.bg-blue-600 {
    --bs-bg-opacity: 1;
    background-color: #0a58ca !important;
}

.bg-blue-700 {
    --bs-bg-opacity: 1;
    background-color: #084298 !important;
}

.bg-blue-800 {
    --bs-bg-opacity: 1;
    background-color: #052c65 !important;
}

.bg-blue-900 {
    --bs-bg-opacity: 1;
    background-color: #031633 !important;
}

.bg-indigo-100 {
    --bs-bg-opacity: 1;
    background-color: #e0cffc !important;
}

.bg-indigo-200 {
    --bs-bg-opacity: 1;
    background-color: #c29ffa !important;
}

.bg-indigo-300 {
    --bs-bg-opacity: 1;
    background-color: #a370f7 !important;
}

.bg-indigo-400 {
    --bs-bg-opacity: 1;
    background-color: #8540f5 !important;
}

.bg-indigo-500 {
    --bs-bg-opacity: 1;
    background-color: #6610f2 !important;
}

.bg-indigo-600 {
    --bs-bg-opacity: 1;
    background-color: #520dc2 !important;
}

.bg-indigo-700 {
    --bs-bg-opacity: 1;
    background-color: #3d0a91 !important;
}

.bg-indigo-800 {
    --bs-bg-opacity: 1;
    background-color: #290661 !important;
}

.bg-indigo-900 {
    --bs-bg-opacity: 1;
    background-color: #140330 !important;
}

.bg-purple-100 {
    --bs-bg-opacity: 1;
    background-color: #c5b3e6 !important;
}

.bg-purple-200 {
    --bs-bg-opacity: 1;
    background-color: #e2d9f3 !important;
}

.bg-purple-300 {
    --bs-bg-opacity: 1;
    background-color: #a98eda !important;
}

.bg-purple-400 {
    --bs-bg-opacity: 1;
    background-color: #8c68cd !important;
}

.bg-purple-500 {
    --bs-bg-opacity: 1;
    background-color: #6f42c1 !important;
}

.bg-purple-600 {
    --bs-bg-opacity: 1;
    background-color: #59359a !important;
}

.bg-purple-700 {
    --bs-bg-opacity: 1;
    background-color: #432874 !important;
}

.bg-purple-800 {
    --bs-bg-opacity: 1;
    background-color: #2c1a4d !important;
}

.bg-purple-900 {
    --bs-bg-opacity: 1;
    background-color: #160d27 !important;
}

.bg-pink-100 {
    --bs-bg-opacity: 1;
    background-color: #f7d6e6 !important;
}

.bg-pink-200 {
    --bs-bg-opacity: 1;
    background-color: #efadce !important;
}

.bg-pink-300 {
    --bs-bg-opacity: 1;
    background-color: #e685b5 !important;
}

.bg-pink-400 {
    --bs-bg-opacity: 1;
    background-color: #de5c9d !important;
}

.bg-pink-500 {
    --bs-bg-opacity: 1;
    background-color: #d63384 !important;
}

.bg-pink-600 {
    --bs-bg-opacity: 1;
    background-color: #ab296a !important;
}

.bg-pink-700 {
    --bs-bg-opacity: 1;
    background-color: #801f4f !important;
}

.bg-pink-800 {
    --bs-bg-opacity: 1;
    background-color: #561435 !important;
}

.bg-pink-900 {
    --bs-bg-opacity: 1;
    background-color: #2b0a1a !important;
}

.bg-red-100 {
    --bs-bg-opacity: 1;
    background-color: #f8d7da !important;
}

.bg-red-200 {
    --bs-bg-opacity: 1;
    background-color: #f1aeb5 !important;
}

.bg-red-300 {
    --bs-bg-opacity: 1;
    background-color: #ea868f !important;
}

.bg-red-400 {
    --bs-bg-opacity: 1;
    background-color: #e35d6a !important;
}

.bg-red-500 {
    --bs-bg-opacity: 1;
    background-color: #dc3545 !important;
}

.bg-red-600 {
    --bs-bg-opacity: 1;
    background-color: #b02a37 !important;
}

.bg-red-700 {
    --bs-bg-opacity: 1;
    background-color: #842029 !important;
}

.bg-red-800 {
    --bs-bg-opacity: 1;
    background-color: #58151c !important;
}

.bg-red-900 {
    --bs-bg-opacity: 1;
    background-color: #2c0b0e !important;
}

.bg-orange-100 {
    --bs-bg-opacity: 1;
    background-color: #ffe5d0 !important;
}

.bg-orange-200 {
    --bs-bg-opacity: 1;
    background-color: #fecba1 !important;
}

.bg-orange-300 {
    --bs-bg-opacity: 1;
    background-color: #feb272 !important;
}

.bg-orange-400 {
    --bs-bg-opacity: 1;
    background-color: #fd9843 !important;
}

.bg-orange-500 {
    --bs-bg-opacity: 1;
    background-color: #fd7e14 !important;
}

.bg-orange-600 {
    --bs-bg-opacity: 1;
    background-color: #ca6510 !important;
}

.bg-orange-700 {
    --bs-bg-opacity: 1;
    background-color: #984c0c !important;
}

.bg-orange-800 {
    --bs-bg-opacity: 1;
    background-color: #653208 !important;
}

.bg-orange-900 {
    --bs-bg-opacity: 1;
    background-color: #331904 !important;
}

.bg-yellow-100 {
    --bs-bg-opacity: 1;
    background-color: #fff3cd !important;
}

.bg-yellow-200 {
    --bs-bg-opacity: 1;
    background-color: #ffe69c !important;
}

.bg-yellow-300 {
    --bs-bg-opacity: 1;
    background-color: #ffda6a !important;
}

.bg-yellow-400 {
    --bs-bg-opacity: 1;
    background-color: #ffcd39 !important;
}

.bg-yellow-500 {
    --bs-bg-opacity: 1;
    background-color: #ffc107 !important;
}

.bg-yellow-600 {
    --bs-bg-opacity: 1;
    background-color: #cc9a06 !important;
}

.bg-yellow-700 {
    --bs-bg-opacity: 1;
    background-color: #997404 !important;
}

.bg-yellow-800 {
    --bs-bg-opacity: 1;
    background-color: #664d03 !important;
}

.bg-yellow-900 {
    --bs-bg-opacity: 1;
    background-color: #332701 !important;
}

.bg-green-100 {
    --bs-bg-opacity: 1;
    background-color: #d1e7dd !important;
}

.bg-green-200 {
    --bs-bg-opacity: 1;
    background-color: #a3cfbb !important;
}

.bg-green-300 {
    --bs-bg-opacity: 1;
    background-color: #75b798 !important;
}

.bg-green-400 {
    --bs-bg-opacity: 1;
    background-color: #479f76 !important;
}

.bg-green-500 {
    --bs-bg-opacity: 1;
    background-color: #198754 !important;
}

.bg-green-600 {
    --bs-bg-opacity: 1;
    background-color: #146c43 !important;
}

.bg-green-700 {
    --bs-bg-opacity: 1;
    background-color: #0f5132 !important;
}

.bg-green-800 {
    --bs-bg-opacity: 1;
    background-color: #0a3622 !important;
}

.bg-green-900 {
    --bs-bg-opacity: 1;
    background-color: #051b11 !important;
}

.bg-teal-100 {
    --bs-bg-opacity: 1;
    background-color: #d2f4ea !important;
}

.bg-teal-200 {
    --bs-bg-opacity: 1;
    background-color: #a6e9d5 !important;
}

.bg-teal-300 {
    --bs-bg-opacity: 1;
    background-color: #79dfc1 !important;
}

.bg-teal-400 {
    --bs-bg-opacity: 1;
    background-color: #4dd4ac !important;
}

.bg-teal-500 {
    --bs-bg-opacity: 1;
    background-color: #20c997 !important;
}

.bg-teal-600 {
    --bs-bg-opacity: 1;
    background-color: #1aa179 !important;
}

.bg-teal-700 {
    --bs-bg-opacity: 1;
    background-color: #13795b !important;
}

.bg-teal-800 {
    --bs-bg-opacity: 1;
    background-color: #0d503c !important;
}

.bg-teal-900 {
    --bs-bg-opacity: 1;
    background-color: #06281e !important;
}

.bg-cyan-100 {
    --bs-bg-opacity: 1;
    background-color: #cff4fc !important;
}

.bg-cyan-200 {
    --bs-bg-opacity: 1;
    background-color: #9eeaf9 !important;
}

.bg-cyan-300 {
    --bs-bg-opacity: 1;
    background-color: #6edff6 !important;
}

.bg-cyan-400 {
    --bs-bg-opacity: 1;
    background-color: #3dd5f3 !important;
}

.bg-cyan-500 {
    --bs-bg-opacity: 1;
    background-color: #0dcaf0 !important;
}

.bg-cyan-600 {
    --bs-bg-opacity: 1;
    background-color: #0aa2c0 !important;
}

.bg-cyan-700 {
    --bs-bg-opacity: 1;
    background-color: #087990 !important;
}

.bg-cyan-800 {
    --bs-bg-opacity: 1;
    background-color: #055160 !important;
}

.bg-cyan-900 {
    --bs-bg-opacity: 1;
    background-color: #032830 !important;
}
.text-blue-100 {
    --bs-text-opacity: 1;
    color: #cfe2ff !important;
}

.text-blue-200 {
    --bs-text-opacity: 1;
    color: #9ec5fe !important;
}

.text-blue-300 {
    --bs-text-opacity: 1;
    color: #6ea8fe !important;
}

.text-blue-400 {
    --bs-text-opacity: 1;
    color: #3d8bfd !important;
}

.text-blue-500 {
    --bs-text-opacity: 1;
    color: #0d6efd !important;
}

.text-blue-600 {
    --bs-text-opacity: 1;
    color: #0a58ca !important;
}

.text-blue-700 {
    --bs-text-opacity: 1;
    color: #084298 !important;
}

.text-blue-800 {
    --bs-text-opacity: 1;
    color: #052c65 !important;
}

.text-blue-900 {
    --bs-text-opacity: 1;
    color: #031633 !important;
}

.text-indigo-100 {
    --bs-text-opacity: 1;
    color: #e0cffc !important;
}

.text-indigo-200 {
    --bs-text-opacity: 1;
    color: #c29ffa !important;
}

.text-indigo-300 {
    --bs-text-opacity: 1;
    color: #a370f7 !important;
}

.text-indigo-400 {
    --bs-text-opacity: 1;
    color: #8540f5 !important;
}

.text-indigo-500 {
    --bs-text-opacity: 1;
    color: #6610f2 !important;
}

.text-indigo-600 {
    --bs-text-opacity: 1;
    color: #520dc2 !important;
}

.text-indigo-700 {
    --bs-text-opacity: 1;
    color: #3d0a91 !important;
}

.text-indigo-800 {
    --bs-text-opacity: 1;
    color: #290661 !important;
}

.text-indigo-900 {
    --bs-text-opacity: 1;
    color: #140330 !important;
}

.text-purple-100 {
    --bs-text-opacity: 1;
    color: #c5b3e6 !important;
}

.text-purple-200 {
    --bs-text-opacity: 1;
    color: #e2d9f3 !important;
}

.text-purple-300 {
    --bs-text-opacity: 1;
    color: #a98eda !important;
}

.text-purple-400 {
    --bs-text-opacity: 1;
    color: #8c68cd !important;
}

.text-purple-500 {
    --bs-text-opacity: 1;
    color: #6f42c1 !important;
}

.text-purple-600 {
    --bs-text-opacity: 1;
    color: #59359a !important;
}

.text-purple-700 {
    --bs-text-opacity: 1;
    color: #432874 !important;
}

.text-purple-800 {
    --bs-text-opacity: 1;
    color: #2c1a4d !important;
}

.text-purple-900 {
    --bs-text-opacity: 1;
    color: #160d27 !important;
}

.text-pink-100 {
    --bs-text-opacity: 1;
    color: #f7d6e6 !important;
}

.text-pink-200 {
    --bs-text-opacity: 1;
    color: #efadce !important;
}

.text-pink-300 {
    --bs-text-opacity: 1;
    color: #e685b5 !important;
}

.text-pink-400 {
    --bs-text-opacity: 1;
    color: #de5c9d !important;
}

.text-pink-500 {
    --bs-text-opacity: 1;
    color: #d63384 !important;
}

.text-pink-600 {
    --bs-text-opacity: 1;
    color: #ab296a !important;
}

.text-pink-700 {
    --bs-text-opacity: 1;
    color: #801f4f !important;
}

.text-pink-800 {
    --bs-text-opacity: 1;
    color: #561435 !important;
}

.text-pink-900 {
    --bs-text-opacity: 1;
    color: #2b0a1a !important;
}

.text-red-100 {
    --bs-text-opacity: 1;
    color: #f8d7da !important;
}

.text-red-200 {
    --bs-text-opacity: 1;
    color: #f1aeb5 !important;
}

.text-red-300 {
    --bs-text-opacity: 1;
    color: #ea868f !important;
}

.text-red-400 {
    --bs-text-opacity: 1;
    color: #e35d6a !important;
}

.text-red-500 {
    --bs-text-opacity: 1;
    color: #dc3545 !important;
}

.text-red-600 {
    --bs-text-opacity: 1;
    color: #b02a37 !important;
}

.text-red-700 {
    --bs-text-opacity: 1;
    color: #842029 !important;
}

.text-red-800 {
    --bs-text-opacity: 1;
    color: #58151c !important;
}

.text-red-900 {
    --bs-text-opacity: 1;
    color: #2c0b0e !important;
}

.text-orange-100 {
    --bs-text-opacity: 1;
    color: #ffe5d0 !important;
}

.text-orange-200 {
    --bs-text-opacity: 1;
    color: #fecba1 !important;
}

.text-orange-300 {
    --bs-text-opacity: 1;
    color: #feb272 !important;
}

.text-orange-400 {
    --bs-text-opacity: 1;
    color: #fd9843 !important;
}

.text-orange-500 {
    --bs-text-opacity: 1;
    color: #fd7e14 !important;
}

.text-orange-600 {
    --bs-text-opacity: 1;
    color: #ca6510 !important;
}

.text-orange-700 {
    --bs-text-opacity: 1;
    color: #984c0c !important;
}

.text-orange-800 {
    --bs-text-opacity: 1;
    color: #653208 !important;
}

.text-orange-900 {
    --bs-text-opacity: 1;
    color: #331904 !important;
}

.text-yellow-100 {
    --bs-text-opacity: 1;
    color: #fff3cd !important;
}

.text-yellow-200 {
    --bs-text-opacity: 1;
    color: #ffe69c !important;
}

.text-yellow-300 {
    --bs-text-opacity: 1;
    color: #ffda6a !important;
}

.text-yellow-400 {
    --bs-text-opacity: 1;
    color: #ffcd39 !important;
}

.text-yellow-500 {
    --bs-text-opacity: 1;
    color: #ffc107 !important;
}

.text-yellow-600 {
    --bs-text-opacity: 1;
    color: #cc9a06 !important;
}

.text-yellow-700 {
    --bs-text-opacity: 1;
    color: #997404 !important;
}

.text-yellow-800 {
    --bs-text-opacity: 1;
    color: #664d03 !important;
}

.text-yellow-900 {
    --bs-text-opacity: 1;
    color: #332701 !important;
}

.text-green-100 {
    --bs-text-opacity: 1;
    color: #d1e7dd !important;
}

.text-green-200 {
    --bs-text-opacity: 1;
    color: #a3cfbb !important;
}

.text-green-300 {
    --bs-text-opacity: 1;
    color: #75b798 !important;
}

.text-green-400 {
    --bs-text-opacity: 1;
    color: #479f76 !important;
}

.text-green-500 {
    --bs-text-opacity: 1;
    color: #198754 !important;
}

.text-green-600 {
    --bs-text-opacity: 1;
    color: #146c43 !important;
}

.text-green-700 {
    --bs-text-opacity: 1;
    color: #0f5132 !important;
}

.text-green-800 {
    --bs-text-opacity: 1;
    color: #0a3622 !important;
}

.text-green-900 {
    --bs-text-opacity: 1;
    color: #051b11 !important;
}

.text-teal-100 {
    --bs-text-opacity: 1;
    color: #d2f4ea !important;
}

.text-teal-200 {
    --bs-text-opacity: 1;
    color: #a6e9d5 !important;
}

.text-teal-300 {
    --bs-text-opacity: 1;
    color: #79dfc1 !important;
}

.text-teal-400 {
    --bs-text-opacity: 1;
    color: #4dd4ac !important;
}

.text-teal-500 {
    --bs-text-opacity: 1;
    color: #20c997 !important;
}

.text-teal-600 {
    --bs-text-opacity: 1;
    color: #1aa179 !important;
}

.text-teal-700 {
    --bs-text-opacity: 1;
    color: #13795b !important;
}

.text-teal-800 {
    --bs-text-opacity: 1;
    color: #0d503c !important;
}

.text-teal-900 {
    --bs-text-opacity: 1;
    color: #06281e !important;
}

.text-cyan-100 {
    --bs-text-opacity: 1;
    color: #cff4fc !important;
}

.text-cyan-200 {
    --bs-text-opacity: 1;
    color: #9eeaf9 !important;
}

.text-cyan-300 {
    --bs-text-opacity: 1;
    color: #6edff6 !important;
}

.text-cyan-400 {
    --bs-text-opacity: 1;
    color: #3dd5f3 !important;
}

.text-cyan-500 {
    --bs-text-opacity: 1;
    color: #0dcaf0 !important;
}

.text-cyan-600 {
    --bs-text-opacity: 1;
    color: #0aa2c0 !important;
}

.text-cyan-700 {
    --bs-text-opacity: 1;
    color: #087990 !important;
}

.text-cyan-800 {
    --bs-text-opacity: 1;
    color: #055160 !important;
}

.text-cyan-900 {
    --bs-text-opacity: 1;
    color: #032830 !important;
}

.text-opacity-25 {
    --bs-text-opacity: 0.25;
}

.text-opacity-50 {
    --bs-text-opacity: 0.5;
}

.text-opacity-75 {
    --bs-text-opacity: 0.75;
}

.text-opacity-100 {
    --bs-text-opacity: 1;
}
